body{
    margin: 0;
    font-family: "Sarabun", sans-serif;
}
.container{
    margin: auto;
    width: 90%;
}
#page-header{
    min-height: 350px;
}
#page-header .header-message {
    height: 70px;
}
#page-header .message {
    height: 40px;
    background: #0d3164;
}
#page-header .messageBorder {
    display: block;
    height: 30px;
    background: repeating-radial-gradient(
            circle at top center,
            #cde7da 0,
            #cde7da 20px,
            transparent 21px,
            transparent 40px
    );
    background-size: 40px 40px;
}


#page-header .header-title {
    text-align: center;
    margin-right: 20px;
}
#page-header .header-title .logo img{
    width: 50vw;
}
#page-header .header-menu{
    position: relative;
    overflow: visible;
    margin-top: 10px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 50px;
    box-sizing: border-box;
    border: 1px solid #0d3164;
    border-radius: 10px;
    align-content: center;
    background: white;
}
#page-header .header-menu a{
    font-size: 17px;
    text-decoration: none ;
    color: #0d3164;
}
#page-header .header-menu .button{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    flex: 1;
    transition: 0.3s;
}
#page-header .header-menu .button:hover{
    background: #cde7da;
    transform: translateY(-3px);
    border-radius: 10px;
    z-index: 10;
}
#page-header .header-menu .button i{
    margin-right: 5px;
}
#page-header .header-menu .button span{
    font-weight: bold;
}

#page-header .header-menu .search{
    margin: auto 0;
    position: relative;
    text-align: center;
    height: 80%;
    flex:4;
    background: #f2f2f2;
    align-content: center;
    border-radius: 10px;

}
#page-header .header-menu .search input{
    margin-left: 5px;
    margin-right: 5px;
    width: 30vw;
    font-size: 17px;
    background: #f2f2f2;
    border: none;
}
#page-header .header-menu .search button{
    color: white;
    font-size: 17px;
    background: #0d3164;
    border-radius: 10px;
    right:5px;
    top:6px;
    cursor: pointer;
}
/* Cha của menu */
#page-header .header-menu .category {
    position: relative;
}

/* Menu con – ẩn mặc định */
#page-header .header-menu .category .danhMuc {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0 6px 18px rgba(0,0,0,0.15);
    border-radius: 0 0 10px 10px;

    z-index: 9999;
}

/* Hover vào Danh mục HOẶC menu con thì vẫn hiện */
#page-header .header-menu .category:hover .danhMuc,
#page-header .header-menu .category .danhMuc:hover {
    display: block;
}

/* Item */
#page-header .header-menu .category .danhMuc .item {
    height: 40px;
    display: flex;
    align-items: center;
    padding-left: 12px;
    background: white;
    border-bottom: 1px solid #eee;
    transition: 0.2s;
}

#page-header .header-menu .category .danhMuc .item:hover{
    background: #cde7da;
    transform: translateY(-3px);
}
#pagination {
    margin-top: 20px;
    margin-left: 60vw;
    display: flex;
    text-align: center;
    gap: 10px;
}

#pagination button{
    border-radius:5px;
    cursor: pointer;
    background-color: white;
}
#pagination button:hover {
    background-color: black;
    color: white;
}
#page-header .thongbao i,#page-header .gio i{
}

#page-header .thongbao{
    display: flex;
    align-items: center;
    gap: 5px;
}

#page-header .thongbao .number{
    color: red;
    margin-top: 0;
    font-size: 10px;
}
#page-header .gio .number{
    margin-top: 0;
    color: red;
    font-size: 10px;
}


#page-header .header-menu .button > a{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}



.toast {
    position: fixed;
    top: 90px;
    left: 45%;

    background: #27ae60;
    color: #fff;
    padding: 12px 18px;
    border-radius: 8px;

    opacity: 0;
    pointer-events: none;
    transform: translateY(-10px);
    transition: all 0.3s ease;

    z-index: 99999;
}



.toast.show {
    opacity: 1;
    transform: translateY(0);
}

